@import './breakpoints';

//text
$font-segoe: 'Segoe UI', sans-serif;
$font-size-main: 18px;

//bg
$bg-color-red: #dc3545;
$bg-color-black: rgb(33, 37, 41);
$bg-color-black-opasity: rgba(33, 37, 41, 0.8);

$zindex-sticky: 1030;
