@import './varibles';

.menu-container {
  background-color: #6c757d;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: url(../assets/Starfish.png) !important;
  width: 30px !important;
  height: 30px !important;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  width: 40px !important;
  height: 40px !important;
}
