.accordion {
  // --bs-accordion-btn-focus-border-color: #dc3545;
  // --bs-accordion-active-color: #02060b;
  // --bs-accordion-btn-focus-box-hadow: none;
}

.accordion-button:focus {
  // background-color: #dc3545;
  // color: #f5f5f5;
  // border: 2px solid #dc3545;
}

.accordion-body img {
  display: block;
  width: 90%;
  height: 225px;
  object-fit: cover;
  border-radius: 5px;
  margin: auto;
  transition: 1s;
}

.accordion-body img:hover {
  width: 100%;
  transition-delay: 0.4s;
}

.accordion-body p.text-description {
  height: 50px;
  padding: 10px;
  // color: greenyellow;
  color: #cde3e8;
}

.accordion-body button:hover {
  box-shadow: 0 0 0 0.25rem rgba(215, 207, 208, 0.5);
}

.btn-basket {
  position: fixed;
  bottom: 20px;
  right: 2px;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  z-index: 10;
}
