.accordion-body .wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.accordion-item:last-child .accordion-body {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.img-wrapper {
  height: 225px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    margin: auto;
  }
}

.accordion-body img:hover {
  transform: scale(1.1);
}

.accordion-body p.text-description {
  color: #e8d8dc;
  min-height: 3rem;
}

.accordion-button:not(.collapsed) {
  background-color: #f7e5e9 !important;
  box-shadow: 0 0 0 0.05rem rgba(205, 175, 183, 0.45) !important;
}

.accordion-button:focus {
  border-color: #e8d8dc !important;
  box-shadow: 0 0 0 0.05rem rgba(205, 175, 183, 0.45) !important;
}

.accordion-item {
  border: 1px solid #f1dce1 !important;
}

.menu-section-title {
  animation-duration: 2s;
  animation-name: menu_slidein;
}

@keyframes menu_slidein {
  from {
    margin-left: 100%;
    width: 100%;
    transform: rotate(-10deg) scale(0.8);
  }

  to {
    margin-left: 0%;
    width: 100%;
    transform: rotate(0deg) scale(1);
  }
}

.form-control:focus {
  border-color: #cfe6d6 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(205, 175, 183, 0.45) !important;
}

.btn-close:focus {
  box-shadow: 0 0 0 0.25rem rgba(243, 188, 195, 0.45) !important;
}
