// .accordion {
//   --bs-accordion-btn-focus-border-color: #dc3545;
//   --bs-accordion-active-color: #02060b;
//   --bs-accordion-btn-focus-box-shadow: none;
// }

// .accordion-button:focus {
//   background-color: #dc3545;
//   color: #f5f5f5;
//   border: 2px solid #dc3545;
// }
.accordion-body .wrapper {
  max-width: 400px;
  margin: 0 auto;
}
.accordion-body img {
  display: block;
  width: 90%;
  height: 225px;
  object-fit: cover;
  border-radius: 5px;
  margin: auto;
  transition: 1s;
  padding: 16px 0;
}

.accordion-body img:hover {
  transform: scale(1.1);
}

.accordion-body p.text-description {
  height: 50px;
  padding: 10px;
  color: #cde3e8;
}

.accordion-body button:hover {
  box-shadow: 0 0 0 0.25rem rgba(215, 207, 208, 0.5);
}

// .btn-basket {
//   position: fixed;
//   bottom: 20px;
//   right: 2px;
//   border: 1px solid #f5f5f5;
//   color: #f5f5f5;
//   z-index: 10;
// }

.menu-section-title {
  animation-duration: 2s;
  animation-name: menu_slidein;
}

@keyframes menu_slidein {
  from {
    margin-left: 100%;
    width: 100%;
    // transform: rotate(-10deg) scale(0);
  }

  to {
    margin-left: 0%;
    width: 100%;
    // transform: rotate(0deg) scale(1);
  }
}
