@import '../src/styles/varibles';

.main_container {
  min-height: 100vh;
  margin-left: 0;
}

#root {
  margin: 0 auto;

  // text-align: center;
  // font-size: $font-size-main;
  // box-sizing: border-box;
  // background-color: $bg-color-red;
}
