@import '../src/styles/varibles.scss';

#root {
  margin: 0 auto;

  box-sizing: border-box;
  width: 1240px;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  font-family: $font-segoe;
  font-size: $font-size-main;
  // background-color: $secondary;

  .main_container {
    min-height: 100vh;
    max-width: 100%;
  }
}
