body {
  background-image: url(assets/1630213374_11.jpg);
  background-size: cover;
  background-color: #6c757d;
  margin: 0 auto;
  padding: 0;
  display: flex;
  max-width: 1400px;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
}
