body {
  background-image: url(assets/1630213374_11.jpg);
  background-size: cover;
  background-color: #6c757d;
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.modal-open {
  overflow-y: visible !important;
  padding-right: 0 !important;
}
