body {
  background-image: url(assets/1630213374_11.jpg);
  background-size: cover;
  background-color: #6c757d;
  display: flex;
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  /* max-width: 1240px;
  min-width: 320px; */
  /* min-height: 100vh; */
  /* font-size: 14px; */
}
